<div class="blog-masthead">
  <div class="container">
    <nav class="nav blog-nav">
    	<h4><%= link_to "Taras Buhryn", root_path, class: 'nav-link' %></h4> 
      <%= nav_helper 'nav-link', 'span' %>
      <%= login_helper 'nav-link' %>
    </nav>
  </div>
</div>