<h1>Would you like to work together?</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Office Address</h3>

    <p>Ukraine, Lviv, Suhiv</p>

    <h3>Phone</h3>

    <p><%= number_to_phone "7574737172" %></p>

    <h3>Email</h3>

    <p>terry@gmail.com</p>
  </div>
  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2575.68653761876!2d24.058505350844598!3d49.79195944237205!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473ae86c78eb65a5%3A0x29fcbc9b5f0c3c2!2z0YPQuy4g0JHQvtGA0LjRgdCwINCQ0L3RgtC-0L3QtdC90LrQvi3QlNCw0LLRi9C00L7QstC40YfQsCwgMSwg0JvRjNCy0L7Qsiwg0JvRjNCy0L7QstGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCA3OTAwMA!5e0!3m2!1sru!2sua!4v1568759690296!5m2!1sru!2sua" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
  </div>
</div>